{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}- Archive</title>
    <meta charset="utf-8">
    {% block head %}
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>
