{% extends "www/base.html" %}

{% block title %}My bookmarks{% endblock title %}

{% block body %}
<div>
    <h1>Hello {% firstof request.user.get_full_name request.user.username %}</h1>
</div>
{% endblock body %}
